<img class="wave" src="./assets/Image/wave.png" alt="">
<div class="container">
    <div class="img">
        <img src="./assets/Image/bg (1).svg" alt="">
    </div>
    <div class="login-content">
        <form action="forgetPass.html">
            <img src="./assets/Image/logo.png" alt="">
            <h2 class="title">ភ្លេចលេខសម្លាត់</h2>
            <p>បញ្ជូលអីុមែលដើម្បីកំំណត់លេខសម្លាត់ឡើងវិញុ។</p>

            <div class="input-div one">
                <div class="ii">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="div1">
                    <input type="text" class="input" name="" id="" placeholder="បញ្ជូលអីុមែល">
                </div>
            </div>

            <div class="btn">
                <button type="submit"><a routerLink="../otp">កំំណត់លេខសម្លាត់ឡើងវិញុ</a></button>
            </div>
            <div class="back">
                <a routerLink="../login">
                    <p><i class="fa fa-angle-left"></i> ត្រឡប់ទៅចូលប្រើប្រាស់</p>
                </a>
            </div>
            <div class="footer-logo">
                <img src="./assets/Image/kh-removebg-preview.png" alt="">
                <img src="./assets/Image/us.png" alt="">
            </div>
        </form>
    </div>
</div>
