<img class="wave" src="./assets/Image/wave.png" alt="">
<div class="container">
    <div class="img">
        <img src="./assets/Image/bg (1).svg" alt="">
    </div>
    <div class="login-content">
        <form action="otp.html">
            <img src="./assets/Image/logo.png" alt="">
            <h2 class="title">សូមបំពេញ OTP ប្រាំមួយខ្ទង់</h2>

            <div class="input-div one">
                <div class="i1">
                    <i class="fa fa-search"></i>
                </div>
                <div class="div2">
                    <input type="text" class="input" name="" id="" placeholder="សូមបំពេញ OTP ប្រាំមួយខ្ទង់">
                </div>
            </div>

            <div class="btn">
                <button type="submit"><a routerLink="../confirm-password">ផ្ទៀងផ្ទាត់ OTP</a></button>
            </div>
            <div class="back">
                <a routerLink="../forgot-password">
                    <p><i class="fa fa-angle-left"></i> ត្រឡប់ទៅចូលប្រើប្រាស់</p>
                </a>
            </div>
            <div class="footer-logo">
                <img src="./assets/Image/kh-removebg-preview.png" alt="">
                <img src="./assets/Image/us.png" alt="">
            </div>
        </form>
    </div>
</div>
