<img class="wave" src="./assets/Image/wave.png" alt="">
<div class="container">
    <div class="img">
        <img src="./assets/Image/bg (1).svg" alt="">
    </div>
    <div class="login-content">
        <form action="otp.html">
            <img src="./assets/Image/logo.png" alt="">
            <h2 class="title">សូមផ្ទៀងផ្ទាត់គណនីរបស់អ្នក</h2>

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="" id="" placeholder="ពាក្យសម្ងាត់ថ្មី">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="" id="" placeholder="បញ្ជាក់ពាក្យសម្ងាត់ថ្មី">
                </div>
            </div>

            <div class="btn">
                <button type="submit"><a routerLink="../login">ចូលប្រើប្រាស់</a></button>
            </div>
            <div class="back">
                <a routerLink="../otp">
                    <p><i class="fa fa-angle-left"></i> ត្រឡប់ទៅចូលប្រើប្រាស់</p>
                </a>
            </div>
            <div class="footer-logo">
                <img src="./assets/Image/kh-removebg-preview.png" alt="">
                <img src="./assets/Image/us.png" alt="">
            </div>
        </form>
    </div>
</div>
