<div class="header">
    <div class="header-left">
        <img src="./assets/Image/logo.png" width="60px" height="60px" alt="">
        <p>CORE SECURITY</p>
    </div>
    <div class="header-right">
        <p>ហេង​ ធូលីហ្សា-HENG THOULYZA</p>
    </div>
    <div class="menu">
        <i class="bi bi-person" onclick="myFunction()"></i>
        <a routerLink="#"><img class="img" src="./assets/Image/cm.png" width="25px" height="23px" alt=""></a>
        <nav id="myDIV">
            <ul>
                <li><a routerLink="../login"><i class="bi bi-person-circle icon"></i> គណនីថ្មី</a></li>
                <li><a routerLink="../new-acc"><i class="bi bi-box-arrow-left icon"></i> ចាក់ចេញ</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- container -->
<div class="container">

    <div class="container-left">
        <img src="./assets/Image/whatsapp.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>WhatsApp</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/messenger.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Messengers</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/slack.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Slack</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/skype.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Skype</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/gmail.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Gmail</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/telegram.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Telegram</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/android_message.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Android Messages</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/google_calender.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Google Calendar</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/discord.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Discord</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/hangouts.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Hangouts</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/linkedIn.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>LinkedIn</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/twitter.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Tweetdeck</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/trello.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Trello</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/offic365-outlook.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Office 365 - Outlook</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/google-keep.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Google Keep</p>
        </div>
    </div>

    <div class="container-left">
        <img src="./assets/Image/hangout_chat.png" width="80px" height="80px" alt="">
        <div class="txt">
            <p>Hangouts Chat</p>
        </div>
    </div>
</div>
