<img class="wave" src="./assets/Image/wave.png" alt="">
<div class="container">
    <div class="img">
        <img src="./assets/Image/bg (1).svg" alt="">
    </div>
    <div class="login-content">
        <form action="formLogin.html">
            <img src="./assets/Image/logo.png" alt="">
            <h2 class="title">ចូលប្រើប្រាស់គណនីរបស់អ្នក</h2>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input type="text" class="input" name="" id="" placeholder="បញ្ជូលឈ្មោះ">
                </div>
            </div>

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="" id="" placeholder="ពាក្យសម្ងាត់">
                </div>
            </div>

            <div class="remumber">
                <a href="#" class="rem-left"><input type="checkbox" checked name="" id="" > ចង់ចាំខ្ងុំ</a>
                <a routerLink="../forgot-password" class="rem-right">ភ្លេចលេខសម្ងាត់</a>
            </div>

            <div class="btn">
                <button type="submit"><a routerLink="../index-page">ចូលប្រើប្រាស់</a></button>
            </div>

            <div class="footer-logo">
                <img src="./assets/Image/kh-removebg-preview.png" alt="">
                <img src="./assets/Image/us.png" alt="">
            </div>
        </form>

    </div>
</div>